ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width:auto;
    text-align: justify;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #005083;
    text-align: center;
    padding: 10px 16px 10px 16px;
    text-decoration: none;
    font-size:24px ;
    font-style: bold;
    margin:10px;

  }
  li img{
      display: block;
      margin-left:100px;
      margin-right:100px;
      background-color: transparent;

  }
  
  li a:hover{
    background-color:#005083;
    color: white;
  }

  .banner{
      height: 400px;
      width: auto;
      text-align: center;
      background-color: #005083;
      padding: 100px;
      background-image: url("../assets/Top_banner_1500x600.png");
      
  } 
  .htag p{
      color: white;
      padding:26px 0px 0px 0px;
      font-size: 48px;
  }
  .htag .bt> button{
      width: 160px;
      text-align: center;
      padding:10px;
      font-size: 16px;
      height: 50px;
      color :white;
      border: 1px solid white;
      background-color: transparent;
  }

  #layer1{
      display: flex;
      flex-direction: column;
      height: 400px;
      text-align: center;
      margin-top:-40px;

  }
  .buttons{
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
  }
  .buttons > button{
      display: flex;
      flex-direction: row;
      width: 250px;
      font-size: medium;
      height: 80px;
      margin:auto;
      padding:10px;
      padding-top:20px;
      padding-left:50px;

  }

  .about{
      width: fit-content;
      margin-left: 200px;
      margin-top:50px;
      display: flex;
      flex-direction: row;
      font-size:20px;

  }
  .content{
      margin: 10px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: left;
      width: 60%;
  }
.caption{
  font-size: 32px;
  font-weight: 600;
  color: #005083;
}
.content-pic{
  margin-top:80px;
}
.services{
    text-align: center;
}
.services p{
    color:#005083;
    font-size: 32px;
  font-weight: 600;
}
.card{
    display: block;
    width: 150px;
    height: 200px;
    margin: 10px


}
.service-card{
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:190px;
    margin-right: auto;

   
}
.card{
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(86, 83, 83, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 40px;
}


.card>span{
   
    margin-left:auto;
    margin-right:auto;
}
.card >button{
     height: 30px;
     width: 100px;
     border:#005083 solid 2px;
     color: white;
     font-weight: 700;
     background-color: #005083;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     border-bottom-left-radius: 15px;;
     margin-left: auto;
     margin-right: auto;margin-block-start: 20px;
}

div .img-box{
    width: 60px;
    height: 60px;
    padding:10px;
    border-radius: 50%;
    background: #f8f0f0;
    border: 2px solid #342065;
    margin:0 auto;
  }